@font-face {
    font-family: 'FontAwesome';
    src: url(font/FontAwesome.otf);
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url(font/fontawesome-webfont.ttf);
}
@font-face {
    font-family: 'opensans-regular-webfont';
    src: url(font/opensans-regular-webfont.ttf);
}
/* loading */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}




.contenedor_loader {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 2.5s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loader,
.loader::before,
.loader::after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s;
}
.loader{
    color: #ec4c4c;
    font-size: 16px;
    position: relative;
}
.loader::before,
.loader::after{
    content: '';
    position: absolute;
    top: 0;
}
.loader::before{
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader::after{
    left: 3.5em;
}
@keyframes loader{
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    }

}
/*Bienvenidos*/
h2 {
  font-size: 60px;
  position: absolute;
}

.border {
  color: black;  
  text-shadow:
    -1px -1px 0 white, 
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.wave {
  color: #09f;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(0% 60%,
    15% 65%,
    34% 66%,
    51% 62%,
    67% 50%,
    84% 45%,
    100% 46%,
    100% 100%,
    0% 100%
    );
  }
}
/* landing page*/

.justify-content-center{
    display: flex;
    justify-content: flex-end !important;
}

.button-contact{
    display: flex;
    justify-content: center;
}
.box-0{
min-height: 100vh;
display:flex ;
justify-content: center;
flex-direction: column;
text-align: center;
background-image: url('images/fondo-bienvenido-grande.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.box-0 button{
    background-color: #ec4c4c ; 
    border: #ec4c4c;
}
.box-0 h1  {
    color: #fff;
    font-size: 18px;
}
.box-0 p{
    color: #fff;
    font-size: 50px;
}
.box-1{
    background-color: coral;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.box-1-contenido{
    max-width: 700px; 
    padding: 60px 0;
}
.box-1 a{
    font-weight: 600;
    font-size: 30px;
    color: #fff !important;

}
.box-1 p{
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.box-1 button{
    background-color: #ffffff ; 
    border: black; 
    color: #0e0e0e; 
    margin-top: 20px;
}
.box-1-contenido img {
    width: 250px;
    transition: all 0.4s ease-in-out;
}
.box-1-contenido img:hover{
    transform:scale(1.07);
    cursor: pointer;

}
.box-1-contenido button {
    width: 250px;
    transition: all 0.4s ease-in-out;
}
.box-1-contenido :hover{
    transform:scale(1.07);
    cursor: pointer;
}

.box-2{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    
}
.box-2 a{
    font-size: 35px;
}

.navbar{
    display: flex;
    align-items: center;
    min-height: 90px;
    position: fixed;
    width: 100%;
    background-color: rgba(47, 45, 45, 0.7);
}
.cajas {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.caja{
    width: 350px;
    display: flex;
    margin:  20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease-in-out;
    text-align: center;
    padding: 0 15px;
}
.caja h3{
    font-size: 27px;
}
.caja i{
    font-size: 60px;
    color: #ec4c4c;
}
.caja:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 5px #00000029;
}
.box-3{
    background-color: gray  ;
    color: #fff ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

}
.box-3 > .imagenescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1100px;

}
.box-3 > .imagenescontainer img{
    width: 300px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;


}
.box-3 > .imagenescontainer img:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.copy{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center ;
}